v_24

In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bengaluru_house_prices.csv')
df.shape

(13320, 9)

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

__Data Exploration and Feature selection__

In [14]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df['area_type'].value_counts() # Occurance of area_type

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

Dropping 'area_type','society','balcony','availability' from dataset.
We can consider them all but for now considering the most prominent features.

In [11]:
df1 = df.drop(['area_type','society','balcony','availability'],axis = 'columns')
df1

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [13]:
df1.isnull().sum() #all null values shown

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

As there are 13000 total number of rows, so we can drop 73 bath values, 16 size values safely. 
That wont affect dataset much.

In [15]:
df2 =df1.dropna()
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

__Data Preprocessing and Cleaning__

___size column___

In [18]:
# df2['size'].value_counts() #returns key and count
df2['size'].unique() #returns key

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

__Trial1

In [20]:
x = "2 BHK"
x

'2 BHK'

In [21]:
x.split(" ")

['2', 'BHK']

In [22]:
x.split(" ")[0]

'2'

In [23]:
x.split(" ")[1]

'BHK'

In [26]:
# Take each value of x 
# split using "space"
# Take the first element
# convert to integer
df2['bhk']= df2['size'].apply(lambda x: int(x.split(" ")[0]))

C:\Users\DELL\AppData\Local\Temp\ipykernel_8104\815461086.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk']= df2['size'].apply(lambda x: int(x.split(" ")[0]))

In [27]:
df2 #New column bhk created using split and apply lambda

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [29]:
df2['bhk'].unique() #43 BHK house ? Lets explore more.

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [30]:
df2[df2['bhk']>20] #This seems an outlier. It has total Sq.ft of 2400

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

We have 43 bhk house. This seems an outlier. It has total Sq.ft of 2400. We will deal with it later.

___total_sqft column___

In [31]:
df2.total_sqft.unique() # Here we could see values like '1133 - 1384' which cannot be used for predictions

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

Here we could see values like '1133 - 1384' which cannot be used for predictions. We can take average of these numbers and fill it.
We can find the different variations in the total_sqft column by using negate function(~) using floats.

In [107]:
def is_float(x):
    try:
        float(x) 
        # This doesnt actually convert the values to float. 
        # It checks if the value can be converted and returns a boolean.
        # If it cant: except handles it, and returns False.
        # If it can : Returns True
        
    except:
        return False # if x IS NOT CONVERTED TO INTEGER RETURN FALSE
    
    return True #ELSE RETURN TRUE AND CONVERT X TO INTEGER

In [108]:
# Try except allows us to use the negate(~)
# If the try is completed the values are shown as true.
# If try is not completed those values are shown by negate (~) as False.

In [109]:
df2[df2['total_sqft'].apply(is_float)] 
# Observe the total_sqft float values returned when try runs successfully.
# It has int and float values for total_sqft

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13056 rows x 6 columns]

In [128]:
df2[df2['total_sqft'].apply(is_float)].total_sqft.unique().tolist() 
# Values when try executes successfully. True type values.
# All values are object type

['1056',
 '2600',
 '1440',
 '1521',
 '1200',
 '1170',
 '2732',
 '3300',
 '1310',
 '1020',
 '1800',
 '2785',
 '1000',
 '1100',
 '2250',
 '1175',
 '1180',
 '1540',
 '2770',
 '600',
 '1755',
 '2800',
 '1767',
 '510',
 '1250',
 '660',
 '1610',
 '1151',
 '1025',
 '1075',
 '1760',
 '1693',
 '1925',
 '700',
 '1070',
 '1724',
 '1290',
 '1143',
 '1296',
 '1254',
 '1330.74',
 '970',
 '1459',
 '800',
 '869',
 '1270',
 '1670',
 '2010',
 '1185',
 '1600',
 '1500',
 '1407',
 '840',
 '4395',
 '845',
 '5700',
 '1160',
 '3000',
 '1140',
 '1220',
 '1350',
 '1005',
 '500',
 '1358',
 '1569',
 '1240',
 '2089',
 '1206',
 '1150',
 '2511',
 '460',
 '4400',
 '1660',
 '1326',
 '1325',
 '1499',
 '1665',
 '708',
 '1060',
 '710',
 '1450',
 '2894',
 '1330',
 '2502',
 '650',
 '2400',
 '1007',
 '966',
 '1630',
 '1640',
 '782',
 '1260',
 '1413',
 '1116',
 '1530',
 '3700',
 '2497',
 '1436',
 '276',
 '1427',
 '2061',
 '2650',
 '1282',
 '1050',
 '945',
 '950',
 '1870',
 '880',
 '1535',
 '1360',
 '1280',
 '5000',
 '3050',
 '1563.05',
 '1167',
 '4000',
 '1828',
 '890',
 '1612',
 '1034',
 '1710',
 '957',
 '2795',
 '1125',
 '1735',
 '2050',
 '3750',
 '1063',
 '1904',
 '4200',
 '2000',
 '1425',
 '1470',
 '1300',
 '450',
 '1152',
 '1550',
 '400',
 '705',
 '770',
 '1242',
 '1700',
 '2144',
 '1704',
 '1846',
 '1340',
 '1327',
 '1186',
 '1783',
 '1400',
 '980',
 '1285',
 '912',
 '1225',
 '1909',
 '1359',
 '1207',
 '1736',
 '2850',
 '1595',
 '1798',
 '1475',
 '1580',
 '1295',
 '3600',
 '589',
 '1415',
 '1787',
 '984',
 '2405',
 '1080',
 '1900',
 '805',
 '1153',
 '1148',
 '1110',
 '1933',
 '3500',
 '645',
 '1644',
 '910',
 '1577',
 '4050',
 '2420',
 '900',
 '1108',
 '3045',
 '2900',
 '1162',
 '1035',
 '1464',
 '1866',
 '1804',
 '913',
 '1868',
 '883',
 '1664',
 '2026',
 '1210',
 '4111',
 '1762',
 '1252',
 '861',
 '1420',
 '1490',
 '1084',
 '1015',
 '1017',
 '1027',
 '1069',
 '1349',
 '1417',
 '1863',
 '1010',
 '1847',
 '525',
 '1850',
 '1438',
 '1560',
 '850',
 '1113',
 '1385',
 '1128',
 '2390',
 '1645',
 '1192',
 '2135',
 '1173',
 '3122',
 '1230',
 '11',
 '1508',
 '1592',
 '1388',
 '630',
 '3252',
 '1308',
 '530',
 '1205',
 '930',
 '1380',
 '2483',
 '1166',
 '2023.71',
 '1935',
 '451',
 '1801',
 '1451',
 '1629',
 '1826',
 '1245',
 '1145',
 '825',
 '1113.27',
 '1460',
 '1656',
 '1208',
 '1910',
 '12000',
 '550',
 '750',
 '1090',
 '1991',
 '1105',
 '985',
 '1533',
 '1590',
 '1120',
 '1194',
 '1419',
 '2150',
 '11890',
 '1750',
 '1404',
 '1715',
 '1752.12',
 '1650',
 '1346',
 '3309',
 '1190',
 '1620',
 '2450',
 '1130',
 '1320',
 '4800',
 '929',
 '1753',
 '4500',
 '1196',
 '1040',
 '720',
 '1511',
 '1545',
 '375',
 '1062',
 '1115',
 '1195',
 '1246',
 '8500',
 '2805',
 '1584',
 '1353',
 '1599',
 '5230',
 '1155',
 '1867',
 '1251',
 '1028',
 '1222',
 '1372',
 '1135',
 '1768',
 '2610',
 '1286',
 '2845',
 '3450',
 '1102',
 '656',
 '1780',
 '595',
 '2225',
 '1126',
 '4144',
 '2100',
 '2230',
 '1544',
 '1305',
 '967',
 '540',
 '715',
 '2500',
 '1578',
 '1253',
 '961',
 '1709',
 '416',
 '1430',
 '1249',
 '2791',
 '834',
 '2060',
 '891',
 '1133',
 '2440',
 '940',
 '2160',
 '4104',
 '1790',
 '1920',
 '1374',
 '1445',
 '711',
 '1720',
 '1030',
 '1375',
 '469',
 '3800',
 '1820',
 '875',
 '2378',
 '3385',
 '1641',
 '2200',
 '1702',
 '1141',
 '2072',
 '35000',
 '1355',
 '1019',
 '1875',
 '1683',
 '1515',
 '2118',
 '1083',
 '2300',
 '1092',
 '2264',
 '1033',
 '810',
 '1045',
 '1337',
 '1570',
 '1855',
 '1823',
 '1094',
 '1202',
 '1688',
 '1235',
 '3205',
 '1077',
 '2330',
 '425',
 '5270',
 '1468',
 '4300',
 '2280',
 '1341',
 '1279',
 '2760',
 '1101',
 '775',
 '667',
 '735',
 '4360',
 '1215',
 '820',
 '1779',
 '1694',
 '2376',
 '1975',
 '674',
 '445',
 '1618',
 '2181',
 '1556',
 '1179',
 '1275',
 '1615',
 '920',
 '1602',
 '1176',
 '675',
 '1352',
 '1717',
 '10961',
 '2119',
 '1157',
 '1566',
 '2830',
 '1091',
 '3670',
 '918',
 '1950',
 '1695',
 '1705',
 '1447',
 '1114',
 '1022',
 '3761',
 '1339',
 '1198',
 '1691',
 '2489',
 '1142',
 '1976',
 '5500',
 '1853',
 '1567',
 '995',
 '884',
 '1342',
 '1345',
 '1652',
 '1740',
 '1278',
 '1356',
 '823',
 '1897',
 '1575',
 '975',
 '686',
 '1410',
 '2238',
 '1174',
 '793',
 '1082',
 '1001',
 '1554',
 '4239',
 '1680',
 '2470',
 '2825',
 '2480',
 '1799',
 '1047',
 '1495',
 '3260',
 '1611',
 '3206',
 '1639',
 '1303',
 '901',
 '1725',
 '1396',
 '1825',
 '1565',
 '1891',
 '1161',
 '315',
 '665',
 '1255',
 '2112.95',
 '1810',
 '1548',
 '1485',
 '1256',
 '2268',
 '4100',
 '15',
 '1843',
 '1467',
 '1209',
 '1315',
 '3968',
 '1563',
 '2169',
 '3235',
 '1036',
 '1662',
 '1234',
 '1403',
 '915',
 '3900',
 '1405',
 '2557',
 '1480',
 '6136',
 '1390',
 '3100',
 '1824',
 '1561',
 '812',
 '1243',
 '1637',
 '1265',
 '24',
 '1666',
 '1357',
 '1093',
 '1865',
 '1039',
 '1985',
 '1520',
 '6000',
 '1117',
 '1937',
 '1053',
 '1625',
 '1397',
 '1523',
 '996',
 '3095',
 '697',
 '1453',
 '3335',
 '1281',
 '565',
 '1024',
 '1233',
 '1510',
 '1945',
 '1008',
 '2689',
 '1697',
 '1651',
 '1078',
 '1314',
 '856',
 '1621',
 '1484',
 '14000',
 '485',
 '1617',
 '1384',
 '1408',
 '2292',
 '2006',
 '1984',
 '1960',
 '3024',
 '1586',
 '2325',
 '924',
 '1006',
 '2842',
 '1558.67',
 '1542',
 '2750',
 '3596',
 '1635',
 '1239',
 '1596',
 '1009',
 '1726',
 '925',
 '3356',
 '1395',
 '1121',
 '1606',
 '4634',
 '1232',
 '680',
 '3467.86',
 '1132',
 '1262',
 '1840',
 '1655',
 '1730',
 '2195',
 '1079',
 '1085',
 '3200',
 '1739',
 '4346',
 '935',
 '1178',
 '1065',
 '999',
 '1835',
 '2090',
 '1519',
 '1267',
 '1146',
 '3329',
 '785',
 '921',
 '2700',
 '1197',
 '3073',
 '755',
 '1213',
 '1654',
 '1367',
 '620',
 '982',
 '440',
 '1614',
 '1363',
 '1156',
 '1455',
 '1890',
 '2197',
 '3522',
 '764',
 '1381',
 '340',
 '2465',
 '865',
 '1756',
 '628',
 '1765',
 '1532',
 '804.1',
 '1525',
 '1435',
 '1272',
 '1541',
 '1201',
 '1785',
 '1258',
 '1297',
 '1291',
 '1012',
 '2790',
 '1373',
 '1052',
 '3680',
 '2863',
 '2424',
 '2710',
 '3040',
 '1294',
 '1808',
 '3516',
 '3850',
 '3770',
 '1537',
 '1512',
 '1378',
 '1277',
 '8000',
 '2550',
 '3198',
 '1690',
 '2572',
 '520',
 '1219',
 '1564',
 '1482',
 '1469',
 '551',
 '1745',
 '1269.72',
 '1266',
 '1168',
 '1552',
 '817',
 '2070',
 '1815',
 '654',
 '1181',
 '1616',
 '1306',
 '1626',
 '1585',
 '1370',
 '3250',
 '1193',
 '1678',
 '2780',
 '2422',
 '882',
 '1757',
 '2028',
 '2611',
 '1163',
 '1098',
 '1418',
 '727',
 '2774',
 '1722',
 '914',
 '1184',
 '927',
 '1488',
 '1699',
 '712',
 '1476',
 '1429',
 '1188',
 '1026',
 '2690',
 '3606',
 '3630',
 '1494',
 '1758',
 '3675',
 '2337',
 '5800',
 '682',
 '1632',
 '1041',
 '5080',
 '3012',
 '1072',
 '52272',
 '726',
 '993',
 '1743',
 '1204',
 '640',
 '972',
 '955',
 '2479.13',
 '3042',
 '1068',
 '1354',
 '1238',
 '2204',
 '1364',
 '1329',
 '916',
 '688',
 '1331',
 '2106',
 '1718',
 '1936',
 '2172.65',
 '990',
 '1685',
 '740',
 '1172',
 '896',
 '2460',
 '2025',
 '2475',
 '765',
 '3155',
 '1980',
 '3555',
 '585',
 '2045',
 '6150',
 '671',
 '2017',
 '1139',
 '581.91',
 '1158',
 '3951',
 '360',
 '1307',
 '1703',
 '1343',
 '1852',
 '1546',
 '1424',
 '1398',
 '1322',
 '432',
 '4750',
 '1571',
 '1031',
 '1109',
 '2350',
 '1003',
 '824',
 '9600',
 '1111',
 '2519',
 '1837',
 '1673',
 '1112',
 '545',
 '1754',
 '3584',
 '2168',
 '3125',
 '1095',
 '870',
 '1708',
 '1183',
 '3067',
 '1929',
 '1775',
 '1268',
 '1687',
 '3526',
 '983',
 '2039',
 '1316',
 '1605',
 '1313',
 '1934',
 '877',
 '936',
 '1901',
 '1819',
 '3245',
 '1845',
 '2254',
 '515',
 '1893',
 '3025',
 '830',
 '2145',
 '987',
 '2556',
 '946',
 '2121',
 '860',
 '1223',
 '1788',
 '1144',
 '1862',
 '1646',
 '1995',
 '1692',
 '6040',
 '2040',
 '1311',
 '4850',
 '1942',
 '668',
 '1089',
 '960',
 '1583',
 '1018',
 '3400',
 '395',
 '1259',
 '1216',
 '1428',
 '605',
 '1444',
 '1187',
 '1452.55',
 '2357',
 '1448',
 '296',
 '1058',
 '1411',
 '2503',
 '2524',
 '1634',
 '1603',
 '714',
 '1573',
 '1465',
 '351',
 '2526',
 '965',
 '1229',
 '1055',
 '1304',
 '2720',
 '1365',
 '1165',
 '1776.42',
 '1107',
 '2319',
 '1536',
 '1164',
 '11338',
 '30000',
 '3190',
 '1917',
 '1071',
 '4460',
 '3297',
 '693',
 '1021',
 '1608',
 '2289',
 '2257',
 '1263',
 '1043',
 '590',
 '1299',
 '3161',
 '1124',
 '871',
 '3515',
 '1118',
 '1051',
 '1478',
 '1226',
 '3366',
 '760',
 '1728',
 '2215',
 '1562',
 '1555',
 '2105',
 '6200',
 '606',
 '527',
 '2321',
 '2167',
 '1274',
 '780',
 '7500',
 '904',
 '730',
 '977',
 '2540',
 '795',
 '1463',
 '2401',
 '2065',
 '1549',
 '1452.19',
 '2849',
 '734',
 '799',
 '1896',
 '3875',
 '1493',
 '1366',
 '3010',
 '4235',
 '2002',
 '1419.59',
 '5530',
 '1392',
 '1675',
 '792',
 '1248',
 '1147',
 '1527',
 '1332',
 '933',
 '461.82',
 '2392',
 '989',
 '1199',
 '1149',
 '2180',
 '1818',
 '2430',
 '2820',
 '4772',
 '3960',
 '5600',
 '1553',
 '5400',
 '794',
 '4051',
 '1351',
 '8321',
 '1777',
 '1576',
 '648',
 '2721',
 '2265',
 '2220',
 '1888',
 '1559',
 '905',
 '829',
 '2409',
 '3640',
 '1749',
 '1127',
 '4190',
 '1247',
 '420',
 '1672',
 '1817',
 '2043',
 '2779',
 ...]

In [118]:
df2[~df2['total_sqft'].apply(is_float)] 
# Value Returned when negate is used. Values from except.False.
# It contains all values except int and float for total_sqft

                 location   size   total_sqft  bath    price  bhk
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800    2
...                   ...    ...          ...   ...      ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000    3
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760    2
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135    2
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500    4

[190 rows x 6 columns]

In [117]:
df2[~df2['total_sqft'].apply(is_float)].total_sqft.unique() 
# Value Returned when negate is used. Values from except.False.

array(['2100 - 2850', '3067 - 8156', '1042 - 1105', '1145 - 1340',
       '1015 - 1540', '34.46Sq. Meter', '1195 - 1440', '4125Perch',
       '1120 - 1145', '3090 - 5002', '1160 - 1195', '1000Sq. Meter',
       '1115 - 1130', '1100Sq. Yards', '520 - 645', '1000 - 1285',
       '650 - 665', '633 - 666', '5.31Acres', '30Acres', '1445 - 1455',
       '884 - 1116', '850 - 1093', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '4000 - 5249', '1500Sq. Meter', '142.61Sq. Meter', '1574Sq. Yards',
       '1250 - 1305', '670 - 980', '1005.03 - 1252.49', '1004 - 1204',
       '361.33Sq. Yards', '645 - 936', '2710 - 3360', '2830 - 2882',
       '596 - 804', '1255 - 1863', '1300 - 1405', '117Sq. Yards',
       '934 - 1437', '980 - 1030', '2249.81 - 4112.19', '1070 - 1315',
       '3040Sq. Meter', '500Sq. Yards', '2806 - 3019', '613 - 648',
       '704 - 730', '1210 - 1477', '3369 - 3464', '1125 - 1500',
       '167Sq. Meter', '1076 - 1199', '381 - 535', '524 - 894',
       '540 - 670', '315Sq. Yards', '2725 - 3250', '888 - 1290',
       '660 - 700', '385 - 440', '770 - 841', '3Cents', '188.89Sq. Yards',
       '1469 - 1766', '204Sq. Meter', '1255 - 1350', '870 - 1080',
       '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591', '2563 - 2733',
       '605 - 624', '1349 - 3324', '78.03Sq. Meter', '3300 - 3335',
       '1180 - 1630', '1365 - 1700', '122Sq. Yards', '84.53Sq. Meter',
       '2.09Acres', '981 - 1249', '1565 - 1595', '24Guntha',
       '1270 - 1275', '840 - 1010', '697Sq. Meter', '655 - 742',
       '1408 - 1455', '942 - 1117', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '1450 - 1950',
       '1100Sq. Meter', '15Acres', '763 - 805', '3307 - 3464',
       '1.26Acres', '620 - 934', '2462 - 2467', '540 - 740',
       '3508 - 4201', '4900 - 4940', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '596 - 861', '615 - 985', '540 - 565',
       '750 - 800', '1660 - 1805', '1079 - 1183', '2800 - 2870',
       '1230 - 1290', '943 - 1220', '2041 - 2090', '527 - 639',
       '1Grounds', '1160 - 1315', '706 - 716', '2940Sq. Yards',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '38Guntha', '929 - 1078',
       '2150 - 2225', '1520 - 1759', '629 - 1026', '1215 - 1495',
       '6Acres', '1140 - 1250', '2400 - 2600', '1052 - 1322',
       '5666 - 5669', '712 - 938', '1783 - 1878', '120Sq. Yards',
       '24Sq. Meter', '2528 - 3188', '650 - 760', '1400 - 1421',
       '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards', '1437 - 1629',
       '850 - 1060', '1200 - 1470', '1133 - 1384'], dtype=object)

We see the values in total_sqft are dash separated values which we need to deal with.
We will take an average of this values using apply function

Trial__

In [143]:
x = ("1079 - 1183")
tokens = x.split("-")
tokens

['1079 ', ' 1183']

In [144]:
tokens[0]

'1079 '

In [145]:
type(tokens[0])

str

In [146]:
def sqft_to_num(x):
    tokens = x.split("-")
    if len(tokens)==2:
        return((float(tokens[1])-float(tokens[0]))/len(tokens)) #converts to float when: if statement is true.
    try:
        return float(x) # returns value of float
    except:
        return None # returns none when both above statements fail to execute

In [151]:
x = ("1079-1183") #if executes: converts to float when: if statement is true.
sqft_to_num(x)

52.0

In [152]:
x = ("10791183") # try: returns value of float
    except:
sqft_to_num(x)

10791183.0

In [154]:
x = ("300Sq. Yards") #except:  returns none when both above statements fail to execute
sqft_to_num(x)

In [171]:
df2['total_sqft'].apply(sqft_to_num) #applying function

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13315    3453.0
13316    3600.0
13317    1141.0
13318    4689.0
13319     550.0
Name: total_sqft, Length: 13246, dtype: float64

In [176]:
df2['total_sqft'].apply(sqft_to_num).dtype # all values are float now

dtype('float64')

In [172]:
list(df2['total_sqft'].apply(sqft_to_num).unique()) #checking the values

[1056.0,
 2600.0,
 1440.0,
 1521.0,
 1200.0,
 1170.0,
 2732.0,
 3300.0,
 1310.0,
 1020.0,
 1800.0,
 2785.0,
 1000.0,
 1100.0,
 2250.0,
 1175.0,
 1180.0,
 1540.0,
 2770.0,
 600.0,
 1755.0,
 2800.0,
 1767.0,
 510.0,
 1250.0,
 660.0,
 1610.0,
 1151.0,
 1025.0,
 375.0,
 1075.0,
 1760.0,
 1693.0,
 1925.0,
 700.0,
 1070.0,
 1724.0,
 1290.0,
 1143.0,
 1296.0,
 1254.0,
 1330.74,
 970.0,
 1459.0,
 800.0,
 869.0,
 1270.0,
 1670.0,
 2010.0,
 1185.0,
 1600.0,
 1500.0,
 1407.0,
 840.0,
 4395.0,
 845.0,
 5700.0,
 1160.0,
 3000.0,
 1140.0,
 1220.0,
 1350.0,
 1005.0,
 500.0,
 1358.0,
 1569.0,
 1240.0,
 2089.0,
 1206.0,
 1150.0,
 2511.0,
 460.0,
 4400.0,
 1660.0,
 1326.0,
 1325.0,
 1499.0,
 1665.0,
 708.0,
 1060.0,
 710.0,
 1450.0,
 2894.0,
 1330.0,
 2502.0,
 650.0,
 2400.0,
 1007.0,
 966.0,
 1630.0,
 1640.0,
 782.0,
 1260.0,
 1413.0,
 1116.0,
 1530.0,
 3700.0,
 2497.0,
 1436.0,
 276.0,
 1427.0,
 2061.0,
 2544.5,
 2650.0,
 1282.0,
 1050.0,
 945.0,
 950.0,
 1870.0,
 880.0,
 1535.0,
 1360.0,
 31.5,
 1280.0,
 5000.0,
 3050.0,
 1563.05,
 1167.0,
 4000.0,
 1828.0,
 890.0,
 1612.0,
 1034.0,
 1710.0,
 957.0,
 2795.0,
 1125.0,
 1735.0,
 2050.0,
 3750.0,
 1063.0,
 1904.0,
 4200.0,
 2000.0,
 97.5,
 1425.0,
 1470.0,
 1300.0,
 450.0,
 1152.0,
 1550.0,
 400.0,
 705.0,
 770.0,
 1242.0,
 1700.0,
 2144.0,
 1704.0,
 1846.0,
 1340.0,
 262.5,
 1327.0,
 1186.0,
 1783.0,
 1400.0,
 980.0,
 1285.0,
 912.0,
 1225.0,
 1909.0,
 1359.0,
 1207.0,
 1736.0,
 2850.0,
 1595.0,
 1798.0,
 1475.0,
 1580.0,
 1295.0,
 3600.0,
 589.0,
 1415.0,
 1787.0,
 984.0,
 2405.0,
 1080.0,
 1900.0,
 805.0,
 1153.0,
 1148.0,
 1110.0,
 1933.0,
 3500.0,
 645.0,
 1644.0,
 910.0,
 1577.0,
 4050.0,
 2420.0,
 900.0,
 1108.0,
 3045.0,
 2900.0,
 1162.0,
 1035.0,
 1464.0,
 1866.0,
 1804.0,
 913.0,
 1868.0,
 883.0,
 1664.0,
 2026.0,
 1210.0,
 4111.0,
 1762.0,
 1252.0,
 861.0,
 1420.0,
 1490.0,
 1084.0,
 1015.0,
 1017.0,
 1027.0,
 1069.0,
 1349.0,
 1417.0,
 1863.0,
 1010.0,
 1847.0,
 525.0,
 1850.0,
 1438.0,
 1560.0,
 850.0,
 1113.0,
 1385.0,
 1128.0,
 2390.0,
 1645.0,
 1192.0,
 2135.0,
 1173.0,
 3122.0,
 1230.0,
 11.0,
 1508.0,
 1592.0,
 1388.0,
 630.0,
 3252.0,
 1308.0,
 530.0,
 1205.0,
 930.0,
 1380.0,
 2483.0,
 1166.0,
 2023.71,
 1935.0,
 451.0,
 1801.0,
 1451.0,
 1629.0,
 1826.0,
 1245.0,
 1145.0,
 825.0,
 1113.27,
 1460.0,
 1656.0,
 1208.0,
 1910.0,
 12000.0,
 550.0,
 nan,
 750.0,
 1090.0,
 1991.0,
 1105.0,
 985.0,
 1533.0,
 1590.0,
 1120.0,
 1194.0,
 1419.0,
 2150.0,
 11890.0,
 1750.0,
 1404.0,
 1715.0,
 1752.12,
 1650.0,
 1346.0,
 3309.0,
 1190.0,
 1620.0,
 2450.0,
 1130.0,
 1320.0,
 4800.0,
 929.0,
 1753.0,
 4500.0,
 1196.0,
 1040.0,
 720.0,
 1511.0,
 1545.0,
 1062.0,
 1115.0,
 1195.0,
 1246.0,
 8500.0,
 2805.0,
 1584.0,
 1353.0,
 1599.0,
 5230.0,
 1155.0,
 1867.0,
 1251.0,
 1028.0,
 1222.0,
 1372.0,
 1135.0,
 1768.0,
 2610.0,
 1286.0,
 2845.0,
 122.5,
 3450.0,
 1102.0,
 656.0,
 1780.0,
 595.0,
 2225.0,
 1126.0,
 4144.0,
 2100.0,
 2230.0,
 1544.0,
 1305.0,
 967.0,
 540.0,
 715.0,
 2500.0,
 1578.0,
 1253.0,
 961.0,
 1709.0,
 416.0,
 1430.0,
 1249.0,
 2791.0,
 834.0,
 2060.0,
 891.0,
 1133.0,
 2440.0,
 940.0,
 2160.0,
 4104.0,
 1790.0,
 1920.0,
 1374.0,
 1445.0,
 711.0,
 1720.0,
 1030.0,
 1375.0,
 469.0,
 3800.0,
 1820.0,
 875.0,
 2378.0,
 3385.0,
 1641.0,
 12.5,
 2200.0,
 1702.0,
 1141.0,
 2072.0,
 956.0,
 35000.0,
 1355.0,
 1019.0,
 1875.0,
 1683.0,
 1515.0,
 2118.0,
 1083.0,
 2300.0,
 1092.0,
 2264.0,
 1033.0,
 810.0,
 1045.0,
 1337.0,
 1570.0,
 1855.0,
 1823.0,
 1094.0,
 1202.0,
 1688.0,
 1235.0,
 3205.0,
 1077.0,
 2330.0,
 425.0,
 5270.0,
 1468.0,
 4300.0,
 2280.0,
 1341.0,
 1279.0,
 2760.0,
 1101.0,
 775.0,
 667.0,
 735.0,
 4360.0,
 1215.0,
 820.0,
 17.5,
 1779.0,
 1694.0,
 2376.0,
 1975.0,
 674.0,
 445.0,
 1618.0,
 2181.0,
 1556.0,
 1179.0,
 1275.0,
 1615.0,
 920.0,
 1602.0,
 1176.0,
 675.0,
 1352.0,
 1717.0,
 10961.0,
 2119.0,
 1157.0,
 1566.0,
 2830.0,
 1091.0,
 3670.0,
 918.0,
 1950.0,
 1695.0,
 1705.0,
 1447.0,
 1114.0,
 1022.0,
 3761.0,
 1339.0,
 1198.0,
 1691.0,
 7.5,
 2489.0,
 1142.0,
 1976.0,
 5500.0,
 1853.0,
 1567.0,
 995.0,
 884.0,
 1342.0,
 1345.0,
 1652.0,
 1740.0,
 1278.0,
 62.5,
 1356.0,
 823.0,
 1897.0,
 1575.0,
 975.0,
 686.0,
 1410.0,
 2238.0,
 1174.0,
 793.0,
 1082.0,
 1001.0,
 1554.0,
 142.5,
 4239.0,
 1680.0,
 2470.0,
 2825.0,
 2480.0,
 1799.0,
 1047.0,
 1495.0,
 3260.0,
 1611.0,
 3206.0,
 1639.0,
 1303.0,
 901.0,
 1725.0,
 1396.0,
 1825.0,
 1565.0,
 1891.0,
 1161.0,
 16.5,
 315.0,
 665.0,
 1255.0,
 2112.95,
 1810.0,
 1548.0,
 1485.0,
 1256.0,
 2268.0,
 4100.0,
 15.0,
 1843.0,
 1467.0,
 1209.0,
 1315.0,
 3968.0,
 1563.0,
 2169.0,
 3235.0,
 1036.0,
 1662.0,
 1234.0,
 1403.0,
 915.0,
 3900.0,
 1405.0,
 2557.0,
 1480.0,
 6136.0,
 1390.0,
 3100.0,
 1824.0,
 1561.0,
 812.0,
 1243.0,
 1637.0,
 1265.0,
 24.0,
 1666.0,
 1357.0,
 1093.0,
 1865.0,
 1039.0,
 1985.0,
 1520.0,
 6000.0,
 1117.0,
 1937.0,
 1053.0,
 1625.0,
 1397.0,
 1523.0,
 996.0,
 3095.0,
 5.0,
 697.0,
 116.0,
 1453.0,
 3335.0,
 121.5,
 1281.0,
 565.0,
 1024.0,
 1233.0,
 1510.0,
 1945.0,
 1008.0,
 2689.0,
 1697.0,
 1651.0,
 1078.0,
 1314.0,
 856.0,
 1621.0,
 1484.0,
 14000.0,
 485.0,
 1617.0,
 1384.0,
 1408.0,
 2292.0,
 2006.0,
 1984.0,
 1960.0,
 3024.0,
 1586.0,
 2325.0,
 924.0,
 1006.0,
 2842.0,
 1558.67,
 1542.0,
 2750.0,
 3596.0,
 1635.0,
 1239.0,
 1596.0,
 1009.0,
 1726.0,
 925.0,
 3356.0,
 1395.0,
 1121.0,
 1606.0,
 4634.0,
 1232.0,
 680.0,
 3467.86,
 1132.0,
 1262.0,
 1840.0,
 1655.0,
 1730.0,
 2195.0,
 1079.0,
 1085.0,
 3200.0,
 1739.0,
 4346.0,
 935.0,
 1178.0,
 1065.0,
 999.0,
 1835.0,
 2090.0,
 1519.0,
 1267.0,
 1146.0,
 3329.0,
 785.0,
 921.0,
 2700.0,
 1197.0,
 3073.0,
 755.0,
 1213.0,
 1654.0,
 1367.0,
 620.0,
 982.0,
 440.0,
 1614.0,
 1363.0,
 1156.0,
 1455.0,
 1890.0,
 2197.0,
 3522.0,
 764.0,
 1381.0,
 340.0,
 2465.0,
 139.98499999999996,
 865.0,
 1756.0,
 628.0,
 1765.0,
 1532.0,
 804.1,
 1525.0,
 1435.0,
 1272.0,
 1541.0,
 1201.0,
 1785.0,
 1258.0,
 1297.0,
 1291.0,
 1012.0,
 2790.0,
 35.0,
 1373.0,
 1052.0,
 3680.0,
 2863.0,
 2424.0,
 2710.0,
 3040.0,
 1294.0,
 1808.0,
 3516.0,
 3850.0,
 3770.0,
 1537.0,
 1512.0,
 1378.0,
 1277.0,
 8000.0,
 2550.0,
 3198.0,
 1690.0,
 2572.0,
 520.0,
 1219.0,
 1564.0,
 1482.0,
 1469.0,
 551.0,
 1745.0,
 1269.72,
 1266.0,
 1168.0,
 1552.0,
 234.5,
 817.0,
 2070.0,
 1815.0,
 654.0,
 1181.0,
 1616.0,
 1306.0,
 1626.0,
 1585.0,
 1370.0,
 3250.0,
 85.0,
 624.5,
 1193.0,
 1678.0,
 2780.0,
 2422.0,
 882.0,
 1757.0,
 2028.0,
 2611.0,
 1163.0,
 1098.0,
 1418.0,
 727.0,
 2774.0,
 1722.0,
 914.0,
 1184.0,
 927.0,
 1488.0,
 1699.0,
 712.0,
 1476.0,
 1429.0,
 1188.0,
 1026.0,
 2690.0,
 3606.0,
 3630.0,
 1494.0,
 1758.0,
 3675.0,
 2337.0,
 5800.0,
 682.0,
 1632.0,
 1041.0,
 5080.0,
 3012.0,
 1072.0,
 52272.0,
 726.0,
 993.0,
 1743.0,
 1204.0,
 640.0,
 972.0,
 955.0,
 2479.13,
 3042.0,
 1068.0,
 1354.0,
 1238.0,
 2204.0,
 1364.0,
 1329.0,
 916.0,
 688.0,
 1331.0,
 2106.0,
 1718.0,
 1936.0,
 2172.65,
 990.0,
 1685.0,
 740.0,
 1172.0,
 896.0,
 2460.0,
 2025.0,
 2475.0,
 765.0,
 3155.0,
 1980.0,
 3555.0,
 585.0,
 2045.0,
 6150.0,
 671.0,
 2017.0,
 1139.0,
 581.91,
 1158.0,
 3951.0,
 360.0,
 1307.0,
 1703.0,
 1343.0,
 1852.0,
 1546.0,
 1424.0,
 1398.0,
 1322.0,
 432.0,
 4750.0,
 27.5,
 1571.0,
 1031.0,
 1109.0,
 2350.0,
 1003.0,
 824.0,
 9600.0,
 1111.0,
 2519.0,
 1837.0,
 1673.0,
 1112.0,
 545.0,
 155.0,
 1754.0,
 3584.0,
 2168.0,
 3125.0,
 1095.0,
 870.0,
 1708.0,
 1183.0,
 3067.0,
 1929.0,
 1775.0,
 1268.0,
 1687.0,
 3526.0,
 983.0,
 2039.0,
 1316.0,
 123.73000000000002,
 1605.0,
 1313.0,
 1934.0,
 877.0,
 936.0,
 1901.0,
 1819.0,
 3245.0,
 1845.0,
 2254.0,
 515.0,
 1893.0,
 3025.0,
 830.0,
 2145.0,
 100.0,
 987.0,
 2556.0,
 946.0,
 2121.0,
 860.0,
 1223.0,
 1788.0,
 1144.0,
 1862.0,
 1646.0,
 1995.0,
 1692.0,
 6040.0,
 2040.0,
 1311.0,
 4850.0,
 145.5,
 1942.0,
 668.0,
 1089.0,
 960.0,
 1583.0,
 1018.0,
 3400.0,
 325.0,
 395.0,
 1259.0,
 1216.0,
 1428.0,
 605.0,
 1444.0,
 1187.0,
 1452.55,
 2357.0,
 1448.0,
 296.0,
 1058.0,
 1411.0,
 2503.0,
 2524.0,
 1634.0,
 1603.0,
 714.0,
 1573.0,
 1465.0,
 351.0,
 2526.0,
 965.0,
 1229.0,
 26.0,
 1055.0,
 1304.0,
 2720.0,
 104.0,
 1365.0,
 1165.0,
 1776.42,
 1107.0,
 2319.0,
 1536.0,
 1164.0,
 11338.0,
 30000.0,
 3190.0,
 1917.0,
 1071.0,
 4460.0,
 3297.0,
 693.0,
 1021.0,
 1608.0,
 2289.0,
 2257.0,
 1263.0,
 304.0,
 1043.0,
 52.5,
 590.0,
 1299.0,
 3161.0,
 1124.0,
 871.0,
 3515.0,
 1118.0,
 1051.0,
 1478.0,
 1226.0,
 3366.0,
 760.0,
 1728.0,
 2215.0,
 1562.0,
 1555.0,
 2105.0,
 6200.0,
 606.0,
 527.0,
 2321.0,
 2167.0,
 1274.0,
 780.0,
 7500.0,
 904.0,
 730.0,
 977.0,
 2540.0,
 795.0,
 1463.0,
 2401.0,
 2065.0,
 251.5,
 25.0,
 1549.0,
 1452.19,
 2849.0,
 734.0,
 799.0,
 1896.0,
 3875.0,
 1493.0,
 1366.0,
 3010.0,
 4235.0,
 2002.0,
 1419.59,
 5530.0,
 1392.0,
 1675.0,
 792.0,
 1248.0,
 1147.0,
 1527.0,
 1332.0,
 933.0,
 461.82,
 2392.0,
 989.0,
 1199.0,
 1149.0,
 2180.0,
 ...]

In [177]:
df3= df2.copy()
df3['total_sqft'] = df2['total_sqft'].apply(sqft_to_num) #applying function and assigning to column
df3

                       location       size  total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
...                         ...        ...         ...   ...     ...  ...
13315                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13316             Richards Town      4 BHK      3600.0   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13318           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13319              Doddathoguru      1 BHK       550.0   1.0   17.00    1

[13246 rows x 6 columns]

In [178]:
df3.total_sqft.dtype # All values are float.

dtype('float64')

v_25

__price_per_sqft column__

In [179]:
# Calcualting and Creating price per sq ft columns
df4 = df3.copy() 
df4['price_per_sqft'] = (df4['price']*100000)/df4['total_sqft'] 
df4

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

__location column__

In [180]:
df4.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [184]:
len(df4.location.unique()) #1304 categories is quite a big number
# df4.location.unique().shape

1304

Location column contains 1304 categories and is quite a big number.
This is a dimensionality curse having so many features.
is a categorical column and needs to be handled using One Hot Encoding.

In [211]:
df4['location'].value_counts() #same
# df4.groupby('location')['location'].agg('count').sort_values(ascending = False) # same

Whitefield           534
Sarjapur  Road       392
Electronic City      302
Kanakpura Road       266
Thanisandra          233
                    ...
Vidyapeeta             1
Maruthi Extension      1
Okalipura              1
Old Town               1
Abshot Layout          1
Name: location, Length: 1304, dtype: int64

In [217]:
df4['location']= df4.location.apply(lambda x: x.strip()) # Removing any extra spaces in the text.
location_stats = df4['location'].value_counts() 
location_stats

Whitefield                        535
Sarjapur  Road                    392
Electronic City                   304
Kanakpura Road                    266
Thanisandra                       236
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: location, Length: 1293, dtype: int64

Observe the length changed from 1304 to 1293 when the spaces were stripped off.

In [218]:
# len(df4['location'].value_counts()[df4['location'].value_counts()==1])   #same
len(location_stats[location_stats==1])                                     #same
# 472 categories that have value_count as 1

472

In [223]:
len(location_stats[location_stats<=10])
# 1039 categories that have value_count less than equal to 10

1052

In [224]:
location_stats_lessthan10= location_stats[location_stats<=10]
location_stats_lessthan10

Naganathapura                     10
Sadashiva Nagar                   10
Nagappa Reddy Layout              10
BTM 1st Stage                     10
Sector 1 HSR Layout               10
                                  ..
Vasantapura main road              1
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Abshot Layout                      1
Name: location, Length: 1052, dtype: int64

In [226]:
# Converting all categories having count below 10 as other. 
# If category is in location_stats_lessthan10 it will be marked 0
# else original value will be kept.
# This will reduce the categories significantly.

df4.location = df4.location.apply(lambda x: 'other' if x in location_stats_lessthan10 else x)
len(df4.location.unique())

242

The categories were reduced down to 242. This will help keep the features less while One Hot Encoding.

In [228]:
df4.location.value_counts() #2881 categories converted to other

other                 2881
Whitefield             535
Sarjapur  Road         392
Electronic City        304
Kanakpura Road         266
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

v_26

__Outliers Detection and removal__

___sqft per bed___

Assuming the Threshold for an area of 1 bed to be 300 sq.ft. 
Ex: total_sqft = 400 bhk = 4
    sqft/bed = 400/4 = 100 . 100 sqft is below our threshold of 300 sqft. We will remove that datapoint.
Anything below that needs to be removed.

In [229]:
df4

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [233]:
df4[(df4.total_sqft/df4.bhk)<300] # Outliers

,location,size,total_sqft,bath,price,bhk,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,370.0,6,36274.509804
30,Yelahanka,4 BHK,375.0,4.0,186.0,4,49600.000000
45,HSR Layout,8 Bedroom,600.0,9.0,200.0,8,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,150.0,6,10660.980810
68,Devarachikkanahalli,8 Bedroom,1350.0,7.0,85.0,8,6296.296296
...,...,...,...,...,...,...,...
13279,other,6 Bedroom,1200.0,5.0,130.0,6,10833.333333
13281,Margondanahalli,5 Bedroom,1375.0,5.0,125.0,5,9090.909091
13299,Whitefield,4 BHK,26.0,5.0,154.5,4,594230.769231
13303,Vidyaranyapura,5 Bedroom,774.0,5.0,70.0,5,9043.927649
13311,Ramamurthy Nagar,7 Bedroom,1500.0,9.0,250.0,7,16666.666667

In [232]:
df4[(df4.total_sqft/df4.bhk)<300].shape # 886 outliers below 300sqft per bed

(886, 7)

In [231]:
df4.shape # original df shape with outliers

(13246, 7)

In [237]:
# Taking Negate and assigning to new dataframe. Negate is the opposite.
df5 = df4[~((df4.total_sqft/df4.bhk)<300)]
df5.shape

(12360, 7)

In [238]:
df5 # 886 outliers below 300sqft per bed removed.

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

___Price per sqft__

In [239]:
df5.price_per_sqft.describe()

count     12314.000000
mean       6324.851882
std        4188.651251
min         267.829813
25%        4208.951063
50%        5300.000000
75%        6940.561842
max      176470.588235
Name: price_per_sqft, dtype: float64