In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

__Checking for any null values in dataframe__

In [2]:
df.isnull().sum() #Age column has 177 null values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

__Handling null values__

In [3]:
med_age= df['Age'].mean()
med_age

29.69911764705882

In [4]:
med_age_series = df['Age'].fillna(med_age)
med_age_series

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [5]:
df['Age']= med_age_series

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.isnull().sum() # age null values filled with median. Rest of the nan columns will not be considered for predictions.

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

__Splitting X and y from dataframe__

In [8]:
X=df[['Pclass','Sex','Age','Fare']] 
X

     Pclass     Sex        Age     Fare
0         3    male  22.000000   7.2500
1         1  female  38.000000  71.2833
2         3  female  26.000000   7.9250
3         1  female  35.000000  53.1000
4         3    male  35.000000   8.0500
..      ...     ...        ...      ...
886       2    male  27.000000  13.0000
887       1  female  19.000000  30.0000
888       3  female  29.699118  23.4500
889       1    male  26.000000  30.0000
890       3    male  32.000000   7.7500

[891 rows x 4 columns]

In [9]:
y = df.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [10]:
len(X)

891

__Creating dummy variable for text in age column : (using sklearn) (can also be created using pandas- shown in nayve bayes Titanic DS)__

In [11]:
from sklearn.preprocessing import LabelEncoder
le_encoded = LabelEncoder() #creating an object from class

In [12]:
X['Sex_n'] = le_encoded.fit_transform(X['Sex']) 
X

C:\Users\DELL\AppData\Local\Temp\ipykernel_944\4176019147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex_n'] = le_encoded.fit_transform(X['Sex'])

     Pclass     Sex        Age     Fare  Sex_n
0         3    male  22.000000   7.2500      1
1         1  female  38.000000  71.2833      0
2         3  female  26.000000   7.9250      0
3         1  female  35.000000  53.1000      0
4         3    male  35.000000   8.0500      1
..      ...     ...        ...      ...    ...
886       2    male  27.000000  13.0000      1
887       1  female  19.000000  30.0000      0
888       3  female  29.699118  23.4500      0
889       1    male  26.000000  30.0000      1
890       3    male  32.000000   7.7500      1

[891 rows x 5 columns]

In [13]:
X.drop(['Sex'], axis ='columns', inplace = True)
X

C:\Users\DELL\AppData\Local\Temp\ipykernel_944\2028845283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(['Sex'], axis ='columns', inplace = True)

     Pclass        Age     Fare  Sex_n
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

__Train test splitting__

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) # (flattened 2d array,1d array)

In [15]:
len(X_train),len(X_test),len(y_train),len(y_test)

(712, 179, 712, 179)

In [16]:
# len(y_train)
y_train.value_counts()

0    447
1    265
Name: Survived, dtype: int64

In [17]:
434/278 #checking how target values are distributed in training set

1.5611510791366907

In [18]:
len(y_test)
y_test.value_counts()

0    102
1     77
Name: Survived, dtype: int64

In [19]:
136/87 #checking how target values are distributed in testing set

1.5632183908045978

__Predicting using logistic Regression model__

In [20]:
from sklearn.linear_model import LogisticRegression
LRmodel = LogisticRegression()
LRmodel.fit(X_train,y_train)

LogisticRegression()

In [21]:
y_pred = LRmodel.predict(X_test) #predicted values
y_pred

array([0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1], dtype=int64)

In [22]:
LRmodel.score(X_test,y_test)

0.776536312849162

In [23]:
LRmodel.coef_ #coef_can only be found for linear models like linear rgeression, logistic regression

array([[-1.22636926e+00, -4.16264523e-02, -5.81964372e-04,
        -2.39750244e+00]])

In [24]:
LRmodel.intercept_ #binary classification(either 0 or 1). Hence only 1 intercept.

array([4.94174204])

In [25]:
LRmodel.predict_proba(X_test) # [[prob of 0, prob of 1]]

array([[0.92412732, 0.07587268],
       [0.05660415, 0.94339585],
       [0.44329749, 0.55670251],
       [0.92213976, 0.07786024],
       [0.86851872, 0.13148128],
       [0.66940875, 0.33059125],
       [0.91495134, 0.08504866],
       [0.49453462, 0.50546538],
       [0.11908159, 0.88091841],
       [0.12603162, 0.87396838],
       [0.4253541 , 0.5746459 ],
       [0.12216989, 0.87783011],
       [0.15670261, 0.84329739],
       [0.23845287, 0.76154713],
       [0.61747375, 0.38252625],
       [0.94063844, 0.05936156],
       [0.91496492, 0.08503508],
       [0.69538751, 0.30461249],
       [0.1929611 , 0.8070389 ],
       [0.18967229, 0.81032771],
       [0.88222133, 0.11777867],
       [0.56230391, 0.43769609],
       [0.37631514, 0.62368486],
       [0.49566388, 0.50433612],
       [0.0555308 , 0.9444692 ],
       [0.17893659, 0.82106341],
       [0.52819012, 0.47180988],
       [0.94530644, 0.05469356],
       [0.49666165, 0.50333835],
       [0.91491963, 0.08508037],
       [0.49575117, 0.50424883],
       [0.26998975, 0.73001025],
       [0.91550295, 0.08449705],
       [0.23809638, 0.76190362],
       [0.76967633, 0.23032367],
       [0.57842511, 0.42157489],
       [0.81211452, 0.18788548],
       [0.74030304, 0.25969696],
       [0.50993134, 0.49006866],
       [0.10160536, 0.89839464],
       [0.74899217, 0.25100783],
       [0.77104046, 0.22895954],
       [0.49692231, 0.50307769],
       [0.90583629, 0.09416371],
       [0.34755008, 0.65244992],
       [0.7691981 , 0.2308019 ],
       [0.35615075, 0.64384925],
       [0.86688255, 0.13311745],
       [0.88647655, 0.11352345],
       [0.88648558, 0.11351442],
       [0.18164399, 0.81835601],
       [0.90929062, 0.09070938],
       [0.72117715, 0.27882285],
       [0.29335941, 0.70664059],
       [0.0878698 , 0.9121302 ],
       [0.92211852, 0.07788148],
       [0.9472287 , 0.0527713 ],
       [0.91267317, 0.08732683],
       [0.91496492, 0.08503508],
       [0.80426417, 0.19573583],
       [0.90465351, 0.09534649],
       [0.91770856, 0.08229144],
       [0.92505273, 0.07494727],
       [0.08111833, 0.91888167],
       [0.22868195, 0.77131805],
       [0.06344455, 0.93655545],
       [0.4956269 , 0.5043731 ],
       [0.81530094, 0.18469906],
       [0.56288846, 0.43711154],
       [0.87782677, 0.12217323],
       [0.94402512, 0.05597488],
       [0.37846575, 0.62153425],
       [0.09886788, 0.90113212],
       [0.49566388, 0.50433612],
       [0.19259885, 0.80740115],
       [0.13138899, 0.86861101],
       [0.2293953 , 0.7706047 ],
       [0.05170191, 0.94829809],
       [0.91496492, 0.08503508],
       [0.94289865, 0.05710135],
       [0.31626917, 0.68373083],
       [0.85131252, 0.14868748],
       [0.66868588, 0.33131412],
       [0.43686859, 0.56313141],
       [0.20472436, 0.79527564],
       [0.86374212, 0.13625788],
       [0.57031196, 0.42968804],
       [0.91273963, 0.08726037],
       [0.91492756, 0.08507244],
       [0.49454796, 0.50545204],
       [0.91593434, 0.08406566],
       [0.75855394, 0.24144606],
       [0.75431812, 0.24568188],
       [0.49453644, 0.50546356],
       [0.58356789, 0.41643211],
       [0.47689185, 0.52310815],
       [0.9149151 , 0.0850849 ],
       [0.7918346 , 0.2081654 ],
       [0.91137914, 0.08862086],
       [0.92245204, 0.07754796],
       [0.92508819, 0.07491181],
       [0.91530165, 0.08469835],
       [0.92212148, 0.07787852],
       [0.76766408, 0.23233592],
       [0.80595202, 0.19404798],
       [0.31291158, 0.68708842],
       [0.50287066, 0.49712934],
       [0.37542896, 0.62457104],
       [0.44418258, 0.55581742],
       [0.82075206, 0.17924794],
       [0.88271477, 0.11728523],
       [0.8216802 , 0.1783198 ],
       [0.90218583, 0.09781417],
       [0.38528847, 0.61471153],
       [0.91495134, 0.08504866],
       [0.487168  , 0.512832  ],
       [0.89840552, 0.10159448],
       [0.85364399, 0.14635601],
       [0.70359061, 0.29640939],
       [0.91495794, 0.08504206],
       [0.91569109, 0.08430891],
       [0.95314652, 0.04685348],
       [0.15968325, 0.84031675],
       [0.89458907, 0.10541093],
       [0.87328991, 0.12671009],
       [0.48338853, 0.51661147],
       [0.87328991, 0.12671009],
       [0.75993686, 0.24006314],
       [0.4075963 , 0.5924037 ],
       [0.35252546, 0.64747454],
       [0.37546706, 0.62453294],
       [0.92921725, 0.07078275],
       [0.8864375 , 0.1135625 ],
       [0.11310507, 0.88689493],
       [0.93385519, 0.06614481],
       [0.40093512, 0.59906488],
       [0.48363862, 0.51636138],
       [0.91495794, 0.08504206],
       [0.86942761, 0.13057239],
       [0.47961096, 0.52038904],
       [0.917133  , 0.082867  ],
       [0.34659668, 0.65340332],
       [0.86276491, 0.13723509],
       [0.91496492, 0.08503508],
       [0.42540745, 0.57459255],
       [0.401616  , 0.598384  ],
       [0.85882637, 0.14117363],
       [0.91492775, 0.08507225],
       [0.55961329, 0.44038671],
       [0.15105605, 0.84894395],
       [0.91493153, 0.08506847],
       [0.88222889, 0.11777111],
       [0.18620844, 0.81379156],
       [0.77672047, 0.22327953],
       [0.25975507, 0.74024493],
       [0.41524067, 0.58475933],
       [0.66830958, 0.33169042],
       [0.09201109, 0.90798891],
       [0.29488835, 0.70511165],
       [0.50048411, 0.49951589],
       [0.88647069, 0.11352931],
       [0.88647655, 0.11352345],
       [0.87782235, 0.12217765],
       [0.46652317, 0.53347683],
       [0.06440401, 0.93559599],
       [0.93829588, 0.06170412],
       [0.22890075, 0.77109925],
       [0.84082448, 0.15917552],
       [0.86373499, 0.13626501],
       [0.91492869, 0.08507131],
       [0.91593434, 0.08406566],
       [0.53002952, 0.46997048],
       [0.09920671, 0.90079329],
       [0.50820905, 0.49179095],
       [0.9152836 , 0.0847164 ],
       [0.76084317, 0.23915683],
       [0.04466949, 0.95533051],
       [0.05947781, 0.94052219],
       [0.48404254, 0.51595746]])

__Predicting using Decision Tree model__

In [26]:
from sklearn import tree
DTmodel = tree.DecisionTreeClassifier()
DTmodel.fit(X_train,y_train)

DecisionTreeClassifier()

In [27]:
DTmodel.score(X_test,y_test)

0.7262569832402235